<h1>comments</h1>

<p class="notice"><%= notice %></p>

<%= render 'comments/form' %>

<%= turbo_stream_from 'comments' %>

<%= turbo_frame_tag 'comments' do %>
  <%= render @comments %>
  <%== pagy_nav(@pagy) %>
<% end %>
